{% extends 'base.html' %}
{% block content %}
<div style='height: 12%; background-color: #f0f0f0;' class="w-100 text-secondary text-center">
    <h1 class="mt-2">História</h1>
    <h4>Conheça nossa história</h4>
</div>

<h2 class="text-center text-primary mt-2">Nossa história</h2>
<div id="teste" class="d-flex justify-content-center">
    <div style='max-width: 80%; text-align: center;' class="">
        <p>Com a criação da Faculdade de Medicina, em 1950, foi iniciado o projeto de construção do Hospital
            Universitário. Nessa época, a Santa Casa de Misericórdia de Maceió apoiou a primeira turma de médicos,
            que
            se formou em 1954. A princípio, o projeto elaborado foi para a construção do Hospital das Clínicas, mas,
            quando a Faculdade de Medicina passou a fazer parte da Ufal, foi elaborado um projeto mais arrojado, no
            qual
            a Cidade Universitária contemplou a construção do Hospital Universitário. As obras foram iniciadas na
            década
            de 1960, mas só foram concluídas em 1992 e, hoje, a instituição conta com 30.000m² de área construída.
        </p>

        <p>Em outubro de 1973, data oficial da fundação do HU, aportou em Maceió o Navio-Hospital SS HOPE,
            procedente
            dos Estados Unidos. Resultado de um intercâmbio científico entre a Universidade Federal de Alagoas,
            Secretaria de Estado da Saúde e a Universidade de Harward (EUA), a vinda do navio a Maceió impulsionou o
            início das atividades no hospital. O Hope permaneceu um ano na capital investindo em pesquisas,
            capacitação
            dos profissionais da área de saúde e também realizando atendimento a milhões de pessoas necessitadas de
            cirurgias, exames, próteses, etc.</p>

        <p>No ano de 2000, foi aprovada a proposta do então diretor Dr. Manuel Calheiros Silva de homenagear o
            professor
            e doutor Carlos Alberto Fernandes Antunes pelo seu grande feito como diretor do HU. A homenagem, que
            compreendeu em acrescentar o nome do professor ao Hospital Universitário, foi feita após seu
            falecimento. A
            partir daí, a instituição passou a ser chamada oficialmente de Hospital Universitário Professor Alberto
            Antunes (HU).</p>

    </div>
</div>

{% endblock %}