{% extends 'base.html' %}
{% block content %}
<div>
    <img src="https://res.cloudinary.com/dozecv3ef/image/upload/v1689361207/pic_mwlqif.jpg" class="card-img-top mt-0">
    <h1 class="text-center pt-3 text-primary-emphasis">Sistema de Marcação de Consultas</h1>

    {% if user.is_authenticated %}
    <form class="text-center mt-2 m-5">
      {% csrf_token %}
      <div class="mb-3 text-start">
          <label for="basic-url" class="form-label text-start">Nome</label>
          <div class="input-group">
            <input type="text" placeholder="José da Silva" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
          </div>
      </div>

      <div class="mb-3 text-start">
          <label for="basic-url" class="form-label text-start">CPF</label>
          <div class="input-group">
            <input type="text" placeholder="123.456.789-00" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
          </div>
      </div>
        
      <div class="input-group mb-3">
          <span class="input-group-text"><i class="uil uil-medkit"></i></span>
          <select class="form-select" id="inputGroupSelect01">
          <option selected>Escolha seu serviço</option>
          <option value="aftas">Aftas</option>
          <option value="hipersensiblidade">Hipersensiblidade</option>
          <option value="lesoes">Lesões</option>
          <option value="pos_cirurgia">Pós-Cirurgia</option>
          <option value="nevralgia">Nevralgia</option>
          <option value="consulta">Consulta</option>
          </select>
          <span class="input-group-text"><i class="uil uil-calendar-alt"></i></span>
          <input type="date" class="form-control" placeholder="Server" aria-label="Server">
        </div>
        
      <button type="button" disabled class="btn btn-outline-light border-primary text-primary-emphasis mt-3">Enviar</button>
    </form>

    {% else %}

    <h1 class='p-5 text-center'>Você precisa entrar para marcar uma consulta.</h1>

    {% endif %}
  </div>
{% endblock %}